

@{
    ViewData["Title"] = "Index";
    Layout = null;
}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>成都派沃特</title>
    <link href="~/login/style_log.css" rel="stylesheet" />
    <link href="~/login/style.css" rel="stylesheet" />
    <link href="~/login/userpanel.css" rel="stylesheet" />
    <link href="~/login/jquery.ui.all.css" rel="stylesheet" />
    <script src="~/third/jquery.min.js"></script>
</head>

<body class="login" mycollectionplug="bind">
    <div class="login_m" id="from">
        <div class="login_logo" style="font-size: 20px;; color: #3c8dbc; font-weight: 800;letter-spacing:12px">派沃特服务流程管理系统</div>
        <div class="login_boder">
            <div class="login_padding" id="login_model">
                <h2>员工账号</h2>
                <label>
                    <input type="text" id="username" class="txt_input txt_input2" value="" />
                </label>
                <h2>密码</h2>
                <label>
                    <input type="password" name="password" id="password" class="txt_input" value="" />
                </label>
                <div class="rem_sub">
                    <label>
                        <input type="submit" class="sub_button" onclick="Login()" name="button" id="button" value="登录" style="opacity: 0.7;" />
                    </label>
                </div>
            </div>
        </div>
    </div>
    <br /> <br />
    <p align="center"> 成都市派沃特 </p>
    <script src="~/js/login/Index.js"></script>
</body>
</html>